/*external css file*/
/*index page*/
#banner_image
{
     padding-top: 75px;
     padding-bottom: 50px;
     text-align: center;
     color: #f8f8f8;
     background: url(img/intro-bg_1.jpg) no-repeat center center;
     background-size: cover;
 }
 #banner_content{
     position: relative;
     padding-top: 6%;
     padding-bottom: 6%;
     margin-top: 12%;
     margin-bottom: 12%;
     background-color: rgba(0, 0, 0, 0.7);
     display: flex;
     justify-content: center;
     align-items: center;
     margin-left: 25%;
     margin-right: 25%;
 }
 .footer{
     padding: 10px 0;
     background-color: #101010;
     color:#9d9d9d;
     bottom: 0;
     width: 100%;
 }
 #banner_image a{
     color: white;
 }
 #banner_image a:hover{
    text-decoration: none; 
    color: white;
 }
 /*others*/
 a:hover{
     text-decoration: underline;
     color: blue;
 }

.panels{
    margin-top: 70px;
    max-width: 500px;
    margin-bottom: 50px;

}
.panelL{
    margin-top: 120px;
    max-width: 500px;
    margin-bottom: 150px;

}
 a{
    color: blue;
    font-weight: bold;
}
.containerx{
    margin-top: 70px ;
}

.alert{
    padding:5px;
    z-index: 999;
}

